

body {
  background-color: mediumaquamarine;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial', sans-serif
}

ul {
  font-family: Haettenschweiler, 'Arial Bold', sans-serif
}

p {
    color: rgb(11, 29, 27);
    width: 500px;
    border: 1px solid black;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }